# Ignore build outputs
/build/
/out/
bin/
build/

# Ignore all class files
*.class

# Ignore IDE specific folders
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Gradle-specific files
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# If you ever use a local environment file
.env